[Unit]
Description=UrT 4.3 Discord Bot
After=urt43.service

[Install]
WantedBy=default.target

[Service]
Type=exec
WorkingDirectory=%h/urt30discord
ExecStart=%h/urt30discord/.venv/bin/python -m urt30discord %h/.config/urt30discord.toml
Restart=on-failure
RestartSec=5
RestartSteps=5
RestartMaxDelaySec=30
